* {
  margin: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header {
  display: flex;
  background-color: #a9a9a9;
  font-size: 12px;
  padding: 5px;
}

h1 {
  padding: auto;
  margin: auto;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
  
}

.section-one {
  width: 100vh;
  height: 100%;
  text-align: center; 
}

.form-label {  
  padding: 20px;
  font-size: 12px;  
}

#txtcontent {
  text-align: center;
  width: 200px;
  height: 200px;
}

#submit {
  display: flex;
  width: 100px;
  margin: auto;
  justify-content: center;  
}

.section-two {
  width: 100vh;
  height: 100%;
  text-align: center;
  
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #00008b;
  color: white;
  text-align: center;
  font-size: 10px;
}

.footer-text {  
  margin: 5px auto;
}
