* {
  margin: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header {
  display: flex;
  background-color: #a9a9a9;
  font-size: 12px;
  padding: 5px;
}

h1 {
  padding: auto;
  margin: auto;
  text-align: center;
}

.container {
  display:flex;
  padding: 100px;
  
}

.section-one {
  
  height: 100%;
  text-align: center; 
}
.form {
  padding: 20px;

}

.form-label {
  margin-bottom: 20px;
  font-size: 12px;
  
}

#txtcontent {
  text-align: center;
  
}

#submit {
  display: flex;
  width: 100px;
  margin: auto;
  justify-content: center;  
}

.section-two {
  margin: 0px 0px 0px 90px;
  padding: 20px;
  height: 100%;
  
}

.footer {
  padding: 11px;
  display: flex;
  background-color: #00008b;
  color: white;
  justify-content: center;
  text-align: center;
  font-size: 10px;
}
.footer-text {
  margin-bottom: 5px;
}
