* {
  outline: 1px solid red !important;
}

h1 {
  padding: auto;
  margin: auto;
  text-align: center;
}

.section-one {
  padding: 100px;
  display: flex;
  height: 100%;
  text-align: center;  
}

#txtcontent {
  text-align: center;
}

#submit {
  display: flex;
  width: 340px;
  margin: 10px;
  justify-content: center;  
}

.section-two {
  display: flex;
  padding: 100px;
  height: 100%;
  text-align: center;
}
